.weather {
  margin: 0px auto;
  padding: 15px 30px;
  font-size: xx-large;
  text-align: left;

  font-family: "Berkshire Swash", cursive;
}
.weather-next {
  font-size: large;
  text-align: left;
  font-family: "Berkshire Swash", cursive;
}

.degrees {
  font-family: cursive;
}
.days {
  color: blue;
  font-size: large;
}
.table {
  text-align: center;
  background-image: linear-gradient(
    to top,
    rgb(241, 215, 185),
    rgb(244, 239, 225)
  );
}
.container {
  max-width: 50%;
  margin: 0px auto;
  padding: 15px 60px;
  text-align: center;
  background-image: linear-gradient(
    to top,
    rgb(62, 33, 14),
    rgb(244, 239, 225)
  );
  border-style: solid;
  border-color: black;
}
.form-group {
  width: 60%;
}

.weather .active {
  color: black;
  cursor: default;
}
.weather .active:hover {
  text-decoration: none;
}
.contacts {
  color: rgb(245, 243, 238);
  margin: 0 auto;
  padding: 0 0 0 200;
}
